.blogres-container {
    min-height: 902px;
    height: auto;
    background: rgb(36, 34, 34);
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    background: #b1a286;
    padding-left: 50px;
    font-family: 'Arvo', serif;
}

.blogres-row {
    height: 150px;
    height: auto;
    padding-top: 70px;
    background: #b1a286;
    margin: 0 auto;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

.blogres-col-image-1 {
    height: auto;
    min-height: 280px;
    background-image: url('../Images/generals1.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-position: top;
    max-width: 100%;
    margin-left: 100px;
}   

.blogres-col-content {
    height: auto;
    max-width: 100%;
    min-height: 280px;

    .blogres-col-content-title {
        font-size: 30px;
        font-weight: bold;
    }
    .blogres-col-content-subtitle {
        font-size: 17px;
        color: white;
    }
}  

.blogres-col-image-2 {
    height: auto;
    min-height: 280px;
    background-image: url('../Images/FallClassic.PNG');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-position: top;
    max-width: 100%;
    margin-left: 100px;
}  


@media screen and (min-width: 300px) and (max-width: 375px) {
    .blogres-container {
        min-height: 600px;
        height: auto;
        background: rgb(36, 34, 34);
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        background: #b1a286;
        padding-left: 50px;
        font-family: 'Arvo', serif;
    }
   
    .blogres-row {
        height: 150px;
        height: auto;
        padding-top: 70px;
        background: #b1a286;
        margin: 0 auto;
    }
    
    .blogres-col-image-1 {
        height: auto;
        min-height: 150px;
        background-image: url('../Images/generals1.jpeg');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-position: top;
        max-width: 100%;
        margin-left: 10px;
    }   

    .blogres-col-content {
        height: auto;
        max-width: 100%;
        min-height: 180px;

        .blogres-col-content-title {
            font-size: 20px;
            font-weight: bold;
        }
        .blogres-col-content-subtitle {
            font-size: 13px;
            color: white;
        }
        .blogres-col-content-text {
            display: none;
        }

        .btn {
            font-size: 10px;
        }
    }  
    
    .blogres-col-image-2 {
        height: auto;
        min-height: 280px;
        background-image: url('../Images/FallClassic.PNG');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-position: top;
        max-width: 100%;
        margin-left: 10px;
    }  
}

@media screen and (min-width: 376px) and (max-width: 698px) {
    .blogres-container {
        min-height: 495px;
        height: auto;
        background: rgb(36, 34, 34);
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        background: #b1a286;
        padding-left: 50px;
        font-family: 'Arvo', serif;
    }
   
    .blogres-row {
        height: 230px;
        padding-top: 70px;
        background: #b1a286;
        margin: 0 auto;
    }
    
    .blogres-col-image-1 {
        height: auto;
        min-height: 280px;
        background-image: url('../Images/generals1.jpeg');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-position: top;
        max-width: 100%;
        margin-left: 10px;
    }   

    .blogres-col-content {
        height: auto;
        max-width: 100%;
        min-height: 280px;

        .blogres-col-content-title {
            font-size: 15px;
            font-weight: bold;
        }
        .blogres-col-content-subtitle {
            font-size: 11px;
            color: white;
        }
        .btn {
            font-size: 10px;
        }
        .blogres-col-content-text {
            display: none;
        }
    }  
    
    .blogres-col-image-2 {
        height: auto;
        min-height: 280px;
        background-image: url('../Images/FallClassic.PNG');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-position: top;
        max-width: 100%;
        margin-left: 10px;
    }  
}

@media screen and (min-width: 698px) and (max-width: 900px) {
    .blogres-container {
        min-height: 902px;
        height: auto;
        background: rgb(36, 34, 34);
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        background: #b1a286;
        font-family: 'Arvo', serif;
        padding-bottom: 30px;
    }
   
    .blogres-row {
        height: 150px;
        height: auto;
        padding-top: 70px;
        background: #b1a286;
        margin: 0 auto;
    }
    
    .blogres-col-image-1 {
        height: auto;
        min-height: 280px;
        background-image: url('../Images/generals1.jpeg');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-position: top;
        max-width: 100%;
        margin-left: 50px;
    }   

    .blogres-col-content {
        height: auto;
        max-width: 100%;
        min-height: 280px;

        .blogres-col-content-title {
            font-size: 20px;
            font-weight: bold;
        }
        .blogres-col-content-subtitle {
            font-size: 13px;
            color: white;
        }
        .blogres-col-content-text {
          
        }
    }  
    
    .blogres-col-image-2 {
        height: auto;
        min-height: 280px;
        background-image: url('../Images/FallClassic.PNG');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-position: top;
        max-width: 100%;
        margin-left: 50px;
    }  
}

@media screen and (min-width: 900px) and (max-width: 1024px) {
    .blogres-container {
        min-height: 955px;
        height: auto;
        background: rgb(36, 34, 34);
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        background: #b1a286;
        font-family: 'Arvo', serif;
    }
   
    .blogres-row {
        height: 150px;
        height: auto;
        padding-top: 70px;
        background: #b1a286;
        margin: 0 auto;
    }
    
    .blogres-col-image-1 {
        height: auto;
        min-height: 280px;
        background-image: url('../Images/generals1.jpeg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-position: top;
        max-width: 100%;
        margin-left: 50px;
    }   

    .blogres-col-content {
        height: auto;
        max-width: 100%;
        min-height: 280px;

        .blogres-col-content-title {
            font-size: 30px;
            font-weight: bold;
        }
        .blogres-col-content-subtitle {
            font-size: 17px;
            color: white;
        }
    }  
    
    .blogres-col-image-2 {
        height: auto;
        min-height: 280px;
        background-image: url('../Images/FallClassic.PNG');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-position: top;
        max-width: 100%;
        margin-left: 50px;
    }  
}

@media screen and (min-width: 1025px) and (max-width: 4000px) {
    .blogres-container {
        min-height: 902px;
        height: auto;
        background: rgb(36, 34, 34);
        flex-direction: column;
        align-items: center;
        max-width: 70%;
        background: #b1a286;
        padding-left: 50px;
        font-family: 'Arvo', serif;
    }
   
    .blogres-row {
        height: 150px;
        height: auto;
        padding-top: 70px;
        background: #b1a286;
        margin: 0 auto;
    }
    
    .blogres-col-image-1 {
        height: auto;
        min-height: 280px;
        background-image: url('../Images/generals1.jpeg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-position: top;
        max-width: 100%;
        margin-left: 100px;
    }   

    .blogres-col-content {
        height: auto;
        max-width: 100%;
        min-height: 280px;

        .blogres-col-content-title {
            font-size: 30px;
            font-weight: bold;
        }
        .blogres-col-content-subtitle {
            font-size: 17px;
            color: white;
        }
    }  
    
    .blogres-col-image-2 {
        height: auto;
        min-height: 280px;
        background-image: url('../Images/FallClassic.PNG');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-position: top;
        max-width: 100%;
        margin-left: 100px;
    }  
}
