.RosterDetails {
    width: 100%;
}
.Roster {
    margin-top: 28rem;
    margin-left: 3rem;
    margin-right: 3rem;
    width: 50%;
    border:3px solid rgb(158, 44, 44);
    font-size: 1.1rem;
}
.roster-link {
    color: white;
    text-decoration: underline;
}

.roster-link:hover {
    color: #b50000;
    text-decoration: underline;
}
.roster.container {
  position: absolute;
  top: 0;
  bottom: 2;
  z-index: 9;
  left: 52px;
  top: 220px;
  padding-left: 23px;
  color: black;
}
.RosterCoaches {
    font-weight: bold;
    margin-left: 0px;
    font-size: 1.5rem;
}
.RosterCoachesSpan {
    font-weight: 300;
    color: #b50000;
    font-family: 'Cookie', cursive;
    font-size: 2rem;
    letter-spacing: 0.3rem;
}
.RosterCoachesSpanHC {
    font-weight: 300;
    color: white;
    padding-left: 45px;
    font-family: 'Cookie', cursive;
    font-size: 2rem;
    letter-spacing: 0.3rem;
}