.navbar {
    background-color: rgb(99, 94, 94);
    font-family: 'Arvo', serif;
    height: 60px;
}

.navbar-brand {
    color: white;
    font-family: 'Cookie', cursive;
    font-size: 20px;
}
.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color:white;
    font-family: 'Arvo', serif;
    font-size: 1.1rem;
}
.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: #b50000;
}

.navbar.navbar-dark .navbar-brand {
    color: rgb(158, 44, 44);
    font-weight: bolder;
    font-size: 2rem;

    .fas {
        color: white;
        background: red;
        border-radius: 50%;

        .brand-span {
            color: #b50000;
            font-family: 'Cookie', cursive;
            font-size: 35px;
        }
    }
}

.right-ul {
    padding-right: 25px;
    align-items: center;

    .nav-item.cart-icon {
        padding-bottom: 10px;
    }
}