.container-fluid.roster-page-sm-data {   
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-self: flex-start;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 87%;
    font-family: 'Arvo', serif;

    .table-bordered {
        color: black;
    }

    .roster-page-sm-data-row {
        text-align: left;

        .roster-page-sm-data-header {
            font-size: 10px;
        }
        .roster-page-sm-table-row {
            font-size: 10px;
        }
    }
}