.jumbotron.teamshoplanding-container {
    height: 872px;
    width: 1600px;
    margin-top: 140px;
    margin-left: 255px;
    margin-bottom: 0px;
    padding: 0px;
    background: #b1a286;

    .teamshoplanding {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 90px;
    }
    
}



