
@media screen and (min-width: 300px) and (max-width: 374px) {
    .teamshoplanding-container {
        min-height: 700px;
        height: auto;
        background: #b1a286;
        font-family: 'Arvo', serif;
        max-width: 90%;
    }
    
    .teamshoplanding-row {
        height: 750px;
        padding: 20px;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 50px;
    }
    
    .teamshoplanding-col {
        height: auto;
        min-height: 902px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;

        .teamshopLanding-col-title {
            font-size: 17px;
            font-weight: bold;
            align-self: center;
        }
    }
} 
@media screen and (min-width: 375px) and (max-width: 698px) {
    .teamshoplanding-container {
        min-height: 700px;
        height: auto;
        background: #b1a286;
        font-family: 'Arvo', serif;
        max-width: 100%;
    }
    
    .teamshoplanding-row {
        height: 750px;
        padding: 20px;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 50px;
    }
    
    .teamshoplanding-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 90px;
        width: 80vw;
        justify-content: center;
        border: 2px solid white;

        .teamshoplanding-col-directory-menu {
            margin-top: 1.3rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .teamshopLanding-col-title {
            font-size: 17px;
            font-weight: bold;
            align-self: center;
        }
    }
} 
@media screen and (min-width: 698px) and (max-width: 900px) {
    .teamshoplanding-container {
        min-height: 700px;
        height: auto;
        background: #b1a286;
        font-family: 'Arvo', serif;
        max-width: 90%;
        align-items: center;
        justify-content: center;
    }
    
    .teamshoplanding-row {
        height: 750px;
        padding: 20px;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 50px;
    }
    
    .teamshoplanding-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 90px;
        width: 80vw;
        justify-content: center;
        border: 2px solid white;

        .teamshoplanding-col-directory-menu {
            margin-top: 1.3rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .teamshoplanding-col-title {
            font-size: 17px;
            font-weight: bold;
            align-self: center;
        }
    }
}  
@media screen and (min-width: 900px) and (max-width: 1024px) {
    .teamshoplanding-container {
        min-height: 700px;
        height: auto;
        background: #b1a286;
        font-family: 'Arvo', serif;
        max-width: 90%;
        align-items: center;
        justify-content: center;
    }
    
    .teamshoplanding-row {
        height: 750px;
        padding: 20px;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 50px;
    }
    
    .teamshoplanding-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 90px;
        width: 80vw;
        justify-content: center;
        border: 2px solid white;

        .teamshoplanding-col-directory-menu {
            margin-top: 1.3rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .teamshoplanding-col-title {
            font-size: 17px;
            font-weight: bold;
            align-self: center;
        }
    }
}
@media screen and (min-width: 1025px) and (max-width: 4000px) {
    .teamshoplanding-container {
        min-height: 500px;
        height: auto;
        background: #b1a286;
        font-family: 'Arvo', serif;
        max-width: 70%;
    }
    
    .teamshoplanding-row {
        height: 750px;
        padding: 20px;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 50px;
    }
    
    .teamshoplanding-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 90px;
        width: 80vw;
        justify-content: center;
        border: 2px solid white;

        .teamshoplanding-col-directory-menu {
            margin-top: 1.3rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        
        .teamshoplanding-col-title {
            font-size: 17px;
            font-weight: bold;
            align-self: center;
        }
    }
}



