.homepage-teaminfo-container {
    margin-top: 0px;
    min-height: 1200px;
    height: auto;
    background: rgb(36, 34, 34);
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    background: #b1a286;
    padding-left: 50px;
    font-family: 'Arvo', serif;

    .homepage-teaminfo-row1 {
        min-height: 325px;
        padding: 20px;

        .homepage-teaminfo-row1col1 {
            height: 275px;
            background-image: url('../Images/crossedBats.png');
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            background-position: top;
            max-width: 100%;  
        }
        .homepage-teaminfo-row1col2 {
            min-height: 275px;

            .homepage-teaminfo-row1col2-title {
                font-size: 2rem;
                font-weight: bold;
            }

            .homepage-teaminfo-row1col2-city {
                font-size: 25px;
                font-weight: bold;
                color: #b50000;
            }

            .homepage-teaminfo-row1col2-staff-headcoach {
                font-weight: bold;
                font-size: 17px;
            }

            .homepage-teaminfo-row1col2-staff-assistantcoaches {
                font-size: 17px;
            }

            .homepage-teaminfo-row1col2-team-email {
                font-size: 17px;
            }
        }
        .homepage-teaminfo-row1col3 {
            min-height: 275px;
            background-image: url('../Images/generals1.jpeg');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-position: top;
            max-width: 100%;
        }
    }

    .homepage-teaminfo-row2 {
        min-height: 875px;
        padding: 20px;

        .homepage-teaminfo-row2col1 {
            display: flex;
            flex-direction: column;
            padding: 0px;
            height: 210px;
            width: 100%;

            .team-info-body-menu-button:focus{ 
                width: 100%;
                height: 20%;
                background:#b50000;
                color: white;
            }
    
            .team-info-body-menu-button {
                width: 100%;
                height: 20%;
                color: black;
                margin-left: 0px;
                background: rgba(209, 209, 205, 0.918);
                border: 0.5px solid black;
            }
                
            .team-info-body-menu-button-active {
                width: 100%;
                height: 20%;
                background:#b50000;
                color: white;
                margin-left: 0px;
            }
        }
        .homepage-teaminfo-row2col2 {
            min-height: 275px;
            height: auto;

            .homepage-teaminfo-row2col2-events {
               
               
                .homepage-teaminfo-row2col2-events-title {
                    padding-bottom: 10px;
                    font-size: 22px;
                    font-weight: bold;
                }
            }
            .homepage-teaminfo-row2col2-games {
               
               
                .homepage-teaminfo-row2col2-games-title {
                    padding-bottom: 10px;
                    font-size: 22px;
                    font-weight: bold;
                }
            }
        }
    }
}

@media screen and (min-width: 300px) and (max-width: 698px) {
    .homepage-teaminfo-container {
        min-height: 80px;
    
        .homepage-teaminfo-row1 {
            display: flex;
            flex-direction: column;
    
            .homepage-teaminfo-row1col2 {
                min-height: 110px;
    
                .homepage-teaminfo-row1col2-title {
                    font-size: 22px;
                }
    
                .homepage-teaminfo-row1col2-city {
                    font-size: 17px;
                }
    
                .homepage-teaminfo-row1col2-staff-headcoach {
                    font-size: 15px;
                }
    
                .homepage-teaminfo-row1col2-staff-assistantcoaches {
                    font-size: 13px;
                }
    
                .homepage-teaminfo-row1col2-team-email {
                    font-size: 13px;
                }
            }
            .homepage-teaminfo-row1col3 {
                min-height: 260px;
            }
        }
    
        .homepage-teaminfo-row2 {
            min-height: 140px;
            padding-top: 10px;
    
            .homepage-teaminfo-row2col1 {
                min-height: 230px;
             
                .homepage-teaminfo-row2col2-events-title {
                    padding-left: 0px;
                }
                .homepage-teaminfo-row2col2-roster-title {
                    font-weight: bold;
                }
                .team-info-body-menu-button:focus{ 
                    background:rgb(36, 34, 34);
                    color: #b50000;
                }
        
                .team-info-body-menu-button {
                    color: #b50000;
                    background: rgb(36, 34, 34);
                }
                    
                .team-info-body-menu-button-active {
                    background:rgb(36, 34, 34);
                    color: #b50000;
                }
            }
            .homepage-teaminfo-row2col1-sm {
                display: flex;
                flex-direction: column;
                padding: 0px;
                width: 100%;
                min-height: 140px;
                height: auto;
                
                .teaminfo-sm-container {
                    min-height: auto;
                    height: auto;

                    .homepage-teaminfo-row2col2-events-title-sm {
                        padding-left: 17px;
                        font-weight: bold;
                    }
                    .homepage-teaminfo-row2col2-games-title-sm {
                        padding-left: 17px;
                        font-weight: bold;
                    }
                    .homepage-teaminfo-row2col2-roster-title-sm {
                        font-weight: bold;
                    }
                }   
                .team-info-body-menu-button-sm:focus{ 
                    width: 100%;
                    max-height: 220px;
                    background:rgb(36, 34, 34);
                    color: #b50000;
                }
        
                .team-info-body-menu-button-sm {
                    width: 100%;
                    max-height: 220px;
                    color: #b50000;
                    margin-left: 0px;
                    margin-bottom: 15px;
                    background: rgb(36, 34, 34);
                }
                    
                .team-info-body-menu-button-active-sm:active {
                    width: 100%;
                    max-height: 220px;
                    background:rgb(36, 34, 34);
                    color: #b50000;
                    margin-left: 0px;
                }
            }
        }
    }
}

@media screen and (min-width: 698px) and (max-width: 900px) {
    
.homepage-teaminfo-row1 {
       

    .homepage-teaminfo-row1col1 {
        height: 200px;
    }
    .homepage-teaminfo-row1col2 {
        height: 200px;

        .homepage-teaminfo-row1col2-title {
            font-size: 1rem;
        }

        .homepage-teaminfo-row1col2-city {
            font-size: 15px;
        }
    }
    .homepage-teaminfo-row1col3 {
        min-height: 225px;
    }
}

.homepage-teaminfo-row2 {
   min-height: 300px;

    .homepage-teaminfo-row2col1 {

        .team-info-body-menu-button:focus{ 
            font-size: 12px;
        }

        .team-info-body-menu-button {
            font-size: 12px;
            background: rgba(138, 130, 105, 0.918);
        }
            
        .team-info-body-menu-button-active {
            font-size: 12px;
        }
    }
    .homepage-teaminfo-row2col2 {
        min-height: 500px;

        .homepage-teaminfo-row2col2-events {
            font-size: 12px;
            min-height: 175px;
                .homepage-teaminfo-row2col2-events-title {
                    font-size: 15px;
                }
        }
        .homepage-teaminfo-row2col2-games {
            font-size: 12px;

            .homepage-teaminfo-row2col2-games-title {
                font-size: 15px;
            }
        }
    }
}
}
@media screen and (min-width: 900px) and (max-width: 1024px) {
    .homepage-teaminfo-row2 {

        .homepage-teaminfo-row2col1 {

            .team-info-body-menu-button:focus{ 
                font-size: 12px;
            }
    
            .team-info-body-menu-button {
                font-size: 12px;
                background: rgba(138, 130, 105, 0.918);
            }
                
            .team-info-body-menu-button-active {
                font-size: 12px;
            }
        }  
    }
}

@media screen and (min-width: 1025px) and (max-width: 4000px) {
    .homepage-teaminfo-container {
        max-width: 70%;

        .homepage-teaminfo-row2 {
            min-height: 875px;
            padding: 20px;
    
            .homepage-teaminfo-row2col1 {
        
                .team-info-body-menu-button {
                    margin-bottom: 5px;
                }
                    
                .team-info-body-menu-button-active {
                    margin-bottom: 5px;
                }
            }
            .homepage-teaminfo-row2col2 {
               
                .homepage-teaminfo-row2col2-games {
                   margin: 0px;
                   padding: 0px;
                }
            }
        }
    }
}