.navbarlarge-container {
    height: 50px;

    font-family: 'Arvo', serif;
    .navbarlarge-container-row {
        height: 50px;


        .navbarlarge-container-row-left-col {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 40px;
    
            .navbar-brand {
                font-family: 'Cookie', cursive;
                color: rgb(158, 44, 44);
                font-weight: bolder;
                font-size: 2rem;
            }
            .nav-link {
                color:white;
                font-family: 'Arvo', serif;
                font-size: 13px;

            }
            .nav-link:hover {
                color: #b50000;
            }
            
    
            .fas {
                color: white;
                background: red;
                border-radius: 50%;
    
                .brand-span {
                    color: #b50000;
                    font-family: 'Cookie', cursive;
                    font-size: 35px;
                }
            }
        }
    
        .navbarlarge-container-row-right-col {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 40px;
            font-size: 14px;
    
            .navbarlarge-container-row-right-col-ul {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                width: 100%;
                
    
                .right-col-li {
                    display: flex;
                    flex-direction: row;
                    max-width: 100%;
                    margin-left: 20px;
                    color: white;
                }
            }
        }
        .navbarlarge-container-row-right-col2 {
           height: 20px;

        }
    
    }
}
    
@media screen and (min-width: 768px) and (max-width: 900px) {
    .navbarlarge-container-row-right-col-ul {
        font-size: 13px;
    }

    .navbarlarge-container-row-left-col {
        .nav-link {
            color:white;
            font-family: 'Arvo', serif;
            font-size: 13px;
        }
    }
}