.shop-page-collection-container {
    min-height: 1135px;
    height: auto;
    max-width: 80%;
    margin-bottom: 0px;
    padding: 0px;
    background: #b1a286;

    .shop-page-collection-container-route {
        padding-top: 75px;
    }
}

@media screen and (min-width: 300px) and (max-width: 375px) {
    .shop-page-collection-container {
        min-height: 650px;

        .shop-page-collection-container-route {
            padding-top: 50px;
        }
    }
}

@media screen and (min-width: 376px) and (max-width: 698px) {
    .shop-page-collection-container {
        min-height: 650px;
        max-width: 100%;
    
        .shop-page-collection-container-route {
            padding-top: 50px;
        }
    }
}

@media screen and (min-width: 698px) and (max-width: 900px) {
    .shop-page-collection-container {
        min-height: 795px;
    }
}

