.hamburgernavbar-container {
    width: 100%;
    min-height: 40px;
    height: auto;
    display: flex;
    flex-direction: row;

    .hamburgernavbar-container-row1 {

        .hamburgernavbar-container-col-brand {
            border: 1px solid blue;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
    
        .hamburgernavbar-container-col-button {
            border: 1px solid red;
            display: flex;
            justify-content: flex-end;
            align-items: center;
    
            .hamburgernavbar-container-row-toggler-active {
                width: 5%;
                height: 30px;
                display: flex;
                align-items: center;
                background: none;
                border: none;
                color: white;
            }
        }
    }
    
    .hamburgernavbar-container-row2 {
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .hamburger-container-col-menuitems {
           
        }
    }
}