.collection-page-container {
    display: flex;
    flex-direction: column;
    font-family: 'Arvo', serif;
    border: 2px solid white;
    margin: 0px;
    min-height: 100px;
    height: auto;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1),
            inset 0 0 25px #b50000;
    .collection-page-container-title {
      font-size: 20px;
      margin: 0px auto 30px;
    }
  
    .collection-page-container-items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 1px;
  
      & .collection-item {
        margin-bottom: 30px;
        margin-right: 0px;
        width: 90%;
      }
    }
  }
  @media screen and (min-width: 300px) and (max-width: 375px) {
    .collection-page-container {
      min-height: 50px;
      height: auto;
      .collection-page-container-title {
        font-size: 20px;
        margin: 0 auto 30px;
      }
    }
  }
  @media screen and (min-width: 376px) and (max-width: 698px) {
    .collection-page-container {
      min-height: 50px;
      height: auto;
      .collection-page-container-title {
        font-size: 20px;
        margin: 0 auto 30px;
      }
    }
  }
  @media screen and (min-width: 700px) and (max-width: 4000px) {
    .collection-page-container {
      min-height: 530px;
      height: auto;
      margin: auto 40px;
      .collection-page-container-title {
        font-size: 37px;
        margin: 0 auto 30px;
        padding-top: 10px;
      }
    }
  }