.collection-page-container {
    display: flex;
    flex-direction: column;
    font-family: 'Arvo', serif;
  
    .collection-page-container-title {
      font-size: 38px;
      margin: 0 auto 30px;
    }
  
    .collection-page-container-items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 1px;
  
      & .collection-item {
        margin-bottom: 30px;
        margin-right: 0px;
        width: 90%;
      }
    }
  }
  @media screen and (min-width: 300px) and (max-width: 375px) {
    .collection-page-container {
     
      .collection-page-container-title {
        font-size: 20px;
        margin: 0 auto 30px;
      }
    }
  }
  @media screen and (min-width: 376px) and (max-width: 698px) {
    .collection-page-container {
     
      .collection-page-container-title {
        font-size: 20px;
        margin: 0 auto 30px;
      }
    }
  }
  