body, html {
   
    padding-top: 0px;
    margin-top: 0px;
    font-family: 'Arvo', serif;
}

.App {
    background:rgb(99, 94, 94);
}

* {
    box-sizing: border-box;
}

.App-routes {
    padding-bottom: 30px;
    margin-bottom: 20px;
}
