.jumbotron.Blog {
    height: 1200px;
    width: 1600px;
    margin-top: 145px;
    margin-left: 255px;
    margin-bottom: 0px;
    padding: 0px;
    background: #b1a286;
    font-family: 'Arvo', serif;
}
    
    .Blog-group {
        margin-top: 2rem;
    }
    .Blog-card {
        width: 70rem;
        margin-top: 2rem;
        font-size: 1rem;
        color: white;
        padding-top: 30px;
    }
    
    .blogLink .card-title {
        color: Black;
        opacity: .8;
        font-weight: bold;
        letter-spacing: 0.1rem;
        padding-left: 10px;
    }
    .card-title:hover {
        color: red;
        opacity: .8;
        font-weight: bold;
        letter-spacing: 0.1rem;
        text-decoration: none;
    }
    .card-text{
        padding-top: 10px;
        padding-left: 10px;
    }
    .card-subtitle {
        color: black;
        opacity: 0.5;
        font-weight: bold;
        padding-left: 10px;
    }

