.GamesBanner-thead {
    background:rgb(36, 34, 34,0.9);
    color: white;
    margin-left: 5px;
}
.td-gamenum {
    text-align: center;
}
.gameData-tr {
    font-size: smaller;
    font-weight: bold;
    
}