
.PlayerDetails-cardFront {
    margin-top: 16rem;
    margin-left: 6.9rem;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
    color: white;
    background: rgb(221, 20, 20);
  }
 .PlayerCardBack.container {
    background-color: rgb(221, 20, 20);
    height: 550px;
    margin-top: 16rem;
    border: 3px solid black;
    margin-left: 70px;
  }
  .cardBack.container {
    color: white;
    margin-top: 10px;
    padding-left: 10px;
    }
  .playerCard-title {
    color: Black;
    opacity: .8;
    font-weight: bold;
    letter-spacing: 0.1rem;
}
  .playerCard-title:hover {
    color: red;
    opacity: .8;
    font-weight: bold;
    letter-spacing: 0.1rem;
}
.playerCard-text{
    padding-top: 20px;
}
.playerCard-subtitle {
    color: white;
    font-weight: bold;
}
.logoImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    padding: 10px;
}
.imgText3 {
  position: absolute;
  bottom: 0;
  left: 52px;
  top: 463px;
  padding-left: 23px;
  color: black;
  font-family: 'Cookie', cursive;
  font-size: 3rem;
  font-weight: bold;
}
.imgText1 {
  position: absolute;
  bottom: 0;
  left: 115px;
  top: 507px;
  padding-left: 23px;
  color: white;
  font-family: 'Cookie', cursive;
  font-size: 2rem;
}
.cardBackStats {
  width: 68%;
  margin-bottom: 20px;
}
