.footer-main {
    height: 260px;
    color: white;
    background-color: rgb(36, 34, 34);
    border-top: 3px solid rgb(158, 44, 44);
    font-family: 'Arvo', serif;
    
    .footer-social-media-links {
        height: 80px;
        width: 100%;
        border-bottom: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;

        .fab {
            padding: 5px;
            color: white;
        }
    }
    .footer-site-links {
        height: 120px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 13px;

    }

    .footer-copyright-info {
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        

        .footer-copyright-info-text {
            opacity: 0.8;
            padding-bottom: 20px;
           
        }
        .footer-copyright-info-title {
            opacity: 0.8;
           
        }
    }
}